<div class="small-12 column">
		<input type="text" name="name" placeholder="Your Name*" required>
	</div>
	<div class="small-12 column">
		<input type="text" name="email_address" placeholder="Your Email*" required>
	</div>
	<div class="small-12 column">
		<input type="text" name="phone_number" placeholder="Phone*" required>
	</div>
	<div class="small-12 column">
		<textarea name="message" placeholder="Enquiry*" required></textarea>
	</div>
	<div class="small-12 column">
		<input type="submit" class="button" value="Submit" />
	</div>